/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background: black;
}



.gradient-text {
    /* font-size: 3rem; */
    font-weight: 700;
    background: linear-gradient(90deg,
            #4F7DB8,
            #FF3B3F,
            #4F7DB8);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-underline {
    position: relative;
    /* display: inline-block; */
}

/* .gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    90deg,
    #4F7DB8,
    #FF3B3F,
    #4F7DB8
  );
  background-size: 300% 300%;
  border-radius: 4px;
} */
.gradient-btn {
    position: relative;
    padding: 14px 36px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(120deg,
            #4F7DB8,
            #FF3B3F,
            #4F7DB8);
    background-size: 300% 300%;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: gradientMove 6s ease infinite;
    box-shadow: 0 10px 30px rgba(34, 211, 238, 0.25);
}

/* Hover */
.gradient-btn:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 16px 40px rgba(34, 211, 238, 0.4);
}

/* Click */
.gradient-btn:active {
    transform: scale(0.97);
}

/* Glow effect */
.gradient-btn::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: inherit;
    filter: blur(12px);
    opacity: 0.7;
    z-index: -1;
}

/* Gradient Animation */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #02020c;
}